@font-face{
    font-family: SpaceMission;
    src : url("./assets/fonts/SpaceMission-rgyw9.otf") format("opentype");
}

@font-face {
    font-family: atari;
    src: url("./assets/fonts/SF Atarian System.ttf") format("truetype");
}

header{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items : center;
    background-color: rgba(240, 255, 255, .65);
    text-align: center;
    font-family: 'SpaceMission';
    font-size : 70;
    width : 750px;
    height: 100px;
}

/* body {
    background: url('./assets/images/2.jpg');
    background-size: cover;
} */

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-title, .player-1-win-count, .player-2-win-count, .move-indicator {
    font-family: atari;
    font-size: 50;
    margin: 0px;
}

.player1-area, .player2-area{
    background-color: rgba(240, 255, 255, .65);
    text-align: center;
    width: 25%;
    height: 200px;
    margin: 25px;
}

.game-area {
    background-color: rgba(240, 255, 255, .65);
    text-align: center;
    width: 50%;
    height: 600px;
    margin: 25px;
}

table{
    margin:auto;
    height: 80%;
    width: 80%;
    border-collapse: collapse;
}
td {
    border: 3px solid #000000;
    text-align: center;
    padding: 8px;
}
td:first-child{
    border-left: none;
}
td:last-child {
    border-right: none;
}
tr:first-child td {
    border-top: none;
}
tr:last-child td {
    border-bottom: none;
}